.cuatro-cero-cuatro-bg{
	// <img src="assets/img/404.gif">
	background-image: url(../../../assets/img/404.gif);
	background-repeat: no-repeat;
	background-position: center;
	height: 500px;
}
.texto-404{
	margin-top:0px;
	text-align: center;
}