<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Actualizar {{anuncio.titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input placeholder="..." [(ngModel)]="anuncio.titulo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea rows="6" [(ngModel)]="anuncio.descripcion" placeholder="..."></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button color="primary" expand="full" (click)="updateAnuncio()">Actualizar</ion-button>
</ion-content>