<ion-content>

	<ion-grid>
		<ion-row>
			<ion-col size="1"></ion-col>
			<ion-col size="auto">
				<h1>Acerca de MuSync</h1>
			</ion-col>
			<ion-col size="1"></ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="1"></ion-col>
			<ion-col size="3">
				<img
					src="https://camo.githubusercontent.com/d496da7dff3de9a1cb6fd5ce822fbeb152ad48b4/68747470733a2f2f692e696d6775722e636f6d2f6e4b496a734e5a2e6a7067">
			</ion-col>
			<ion-col size="7">
				<h5 align="justify">MuSync es una aplicación web y móvil que comunica a músicos que quieren unirse a un grupo,
					integrar a un tercero en su banda o suplir la baja ocasional de algún miembro. Este sistema funciona
					a través de anuncios de oferta y demanda que los propios usuarios publican en un tablón de anuncios
					común. Los músicos podrán suplir sus carencias sin tener que recorrer toda su zona colgando
					carteles.</h5>
			</ion-col>
			<ion-col size="1"></ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="1"></ion-col>
			<ion-col size="auto">
				<h2>Desarrolladores:</h2>
			</ion-col>
			<ion-col size="1"></ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="1"></ion-col>
			<ion-col size="10">
				<ion-list *ngFor="let creador of Creadores">
					<ion-row>
						<ion-col size="auto">
							<ion-avatar>
								<img src="../../../assets/img/creadores/{{creador.imagen}}">
							</ion-avatar>
						</ion-col>
						<ion-col size="auto">
							<ion-item>
								<ion-icon name="person"></ion-icon> {{creador.apellidos}}, {{creador.nombre}}
							</ion-item>
							<ion-item>
								<ion-icon name="cog"></ion-icon> {{creador.rol}}
							</ion-item>
						</ion-col>
						<ion-col size="auto">
							<ion-item href="mailto: {{creador.email}}" target="_blank">
								<ion-icon name="mail"></ion-icon> {{creador.email}}
							</ion-item>
							<ion-item href="https://github.com/{{creador.git}}" target="_blank">
								<ion-icon name="logo-github"></ion-icon> {{creador.git}}
							</ion-item>
						</ion-col>
					</ion-row>
				</ion-list>
			</ion-col>
			<ion-col size="1"></ion-col>
		</ion-row>
	</ion-grid>
</ion-content>