<ion-content>

  <div class="title-block">
    <div class="heading">MuSync - Menu</div>
  </div>
  <ion-searchbar (ionInput)="filtrarAnuncios($event)"></ion-searchbar>
  <ion-list>
    <ion-list-header>
      <ion-label>Anuncios
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let anuncio of (anunciosFiltrados | async)">
      <ion-thumbnail slot="start">
        <img src="../../assets/img/music.png">
      </ion-thumbnail>
      <ion-label>
        <h1>{{anuncio.titulo}}</h1>
        <h2>Instrumento: {{anuncio.instrumento}}</h2>
        <h2>
          <ion-icon name="pin"></ion-icon> 
          {{anuncio.ubicacion}}
        </h2>
        <p *ngIf="anuncio.descripcion.length > 150">{{anuncio.descripcion | slice:0:150}}...</p>
        <p *ngIf="anuncio.descripcion.length <= 150">{{anuncio.descripcion}}</p>

      </ion-label>
      <ion-button fill="outline" slot="end" [routerLink]="'/ver-anuncio/'+anuncio.id">Ver</ion-button>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="'/crear-anuncio'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>