<ion-content>

	<div class="title-block">
		<div class="heading">MuSync - Menu</div>
	</div>

	<ion-searchbar placeholder="Búsqueda rápida" animated (ionInput)="busquedaRapida($event)"></ion-searchbar>
	<ion-card class="ion-padding">
		<ion-card-title (click)="expandir()">
			<ion-icon name="funnel"></ion-icon> 
			Búsqueda avanzada 
			<ion-icon *ngIf="!expandido" name="arrow-down"></ion-icon>
			<ion-icon *ngIf="expandido" name="arrow-up"></ion-icon>
		</ion-card-title>
		<app-expandable expandHeight="1000px" [expanded]="expandido">
			<ion-item>
				<ion-label position="floating">Título</ion-label>
				<ion-input [(ngModel)]="criterios.titulo"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="floating">Descripción</ion-label>
				<ion-input [(ngModel)]="criterios.descripcion"></ion-input>
			</ion-item>
			<ion-item>
				<ion-segment [(ngModel)]="criterios.tipoDemanda">
					<ion-label>Tipo: </ion-label>
					<ion-segment-button value="0">
						<ion-label>Oferta</ion-label>
					</ion-segment-button>
					<ion-segment-button value="1">
						<ion-label>Demanda</ion-label>
					</ion-segment-button>
				</ion-segment>
			</ion-item>
			<ion-item>
				<ion-label position="floating">Ubicación: </ion-label>
				<ion-input [(ngModel)]="criterios.ubicacion"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="floating">Instrumento</ion-label>
				<ion-input [(ngModel)]="criterios.instrumento"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label slot="start">Fecha: </ion-label>
				<ion-item slot="start">
					<ion-datetime displayFormat="DD MM YYYY" placeholder="Fecha desde..." [(ngModel)]="criterios.deFecha" min="{{today.getFullYear()}}" max="{{today.getFullYear()+2}}"></ion-datetime>
					<ion-datetime displayFormat="DD MM YYYY" placeholder="Fecha hasta..." [(ngModel)]="criterios.aFecha" min="{{today.getFullYear()}}" max="{{today.getFullYear()+2}}"></ion-datetime>
				</ion-item>
			</ion-item>
			<ion-button fill="solid" expand="block" color="dark" (click)="busquedaAnuncios()">Buscar</ion-button>
			<ion-button fill="solid" expand="block" color="primary" (click)="borrarFiltro()">Borrar filtros</ion-button>
		</app-expandable>
	</ion-card>
	<ion-list>
		<ion-list-header>
			<ion-label>Anuncios
			</ion-label>
		</ion-list-header>
		<ion-item *ngFor="let anuncio of (anunciosFiltrados | async)">
			<ion-thumbnail slot="start">
				<img src="../../assets/img/music.png">
			</ion-thumbnail>
			<ion-label>
				<h1>{{anuncio.titulo}}</h1>
				<h2>Fecha: {{anuncio.fechaEvento |  date:'dd/MM/yyyy'}}</h2>
				<h2>Instrumento: {{anuncio.instrumento}}</h2>
				<h2>
					<ion-icon name="pin"></ion-icon>
					{{anuncio.ubicacion}}
				</h2>
				<p *ngIf="anuncio.descripcion.length > 150">{{anuncio.descripcion | slice:0:150}}...</p>
				<p *ngIf="anuncio.descripcion.length <= 150">{{anuncio.descripcion}}</p>

			</ion-label>
			<ion-button fill="outline" slot="end" [routerLink]="'/ver-anuncio/'+anuncio.id">Ver</ion-button>
		</ion-item>
	</ion-list>
	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button [routerLink]="'/crear-anuncio'">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>

</ion-content>